header{
  background-color: rgb(255, 123, 0);
  color: white;
  padding: 0.5em;
  display: flex;
  flex-direction: row;

}

.spacer{
  flex-grow: 1;
}

h1{
  margin: 0;
  padding: 0;
  user-select: none;
}

.btn-div{
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 1em;
  text-decoration: none;
  color: white;
}
a:after{
  color: white;
  text-decoration: none;
}

a{
  color: white;
  text-decoration: none;
  font-size: 2em;
}
